body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUp, .getInCircle, .bigCircle{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.danceFloor {
  background: url("http://orig01.deviantart.net/0df9/f/2015/322/0/4/roxbury_club_dance_floor_main_room_by_winampers_pro-d9h4lsj.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: ;
  height: 100%;
  cursor: url(https://www.wpclipart.com/signs_symbol/targets/crosshair/crosshair_1_T.png), auto;
}

.dfmask {
  height: 100%;
  background: linear-gradient(rgba(255,0,0,.3), rgba(255,0,0,0));
}

@keyframes rot {
  from {
    transform:  rotate(0deg)
                translate(-150px)
                rotate(0deg);
  }
  to {
    transform:  rotate(360deg)
                translate(-150px)
                rotate(-360deg);
  }
}
