body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.titleBar{
  width: 100%;
  height: 50px;
  font-size: 30px;
  text-align: center;
}

.hitCounter{
  width: 150px;
  height: 250px;
  bottom: 0;
  position: absolute;
  font-size: 100px;
  text-align: center;
}

#score {
  font-size: 60px;
  padding-top: -100px;
}

.title, .addDancerButton, .lineUp, .getInCircle, .bigCircle{
  padding:5px 12px;
  width: 126px;
  float:left;
}
.topbar{
  width: 150px;
  height: 100%;
  background-color: #555;
  position: fixed;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;

}

@keyframes wiggle {
  0% {-webkit-transform:rotate(7deg);}
  50% {-webkit-transform:rotate(-7deg);}
  100% {-webkit-transform:rotate(7deg);}
}

.wiggler {
  -webkit-animation: wiggle 0.5s infinite;
  -moz-animation: wiggle 0.5s infinite;
  animation: wiggle 0.5s infinite;
}

.danceFloor {
  background: url("http://orig01.deviantart.net/0df9/f/2015/322/0/4/roxbury_club_dance_floor_main_room_by_winampers_pro-d9h4lsj.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: ;
  height: 100%;
  cursor: url(https://www.wpclipart.com/signs_symbol/targets/crosshair/crosshair_1_T.png), auto;
}

.dfmask {
  height: 100%;
  background: linear-gradient(rgba(255,0,0,.3), rgba(255,0,0,0));
}

@keyframes rot {
  from {
    transform:  rotate(0deg)
                translate(-150px)
                rotate(0deg);
  }
  to {
    transform:  rotate(360deg)
                translate(-150px)
                rotate(-360deg);
  }
}
